<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620158042977-8st15tg8vgt1hpiej4gs379asmg92tr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620158042977-8st15tg8vgt1hpiej4gs379asmg92tr1</string>
	<key>API_KEY</key>
	<string>AIzaSyDSxb8sj9SAXvaEfbGpSOsRvyg2ZmvjXMM</string>
	<key>GCM_SENDER_ID</key>
	<string>620158042977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>studio.omicron.DropIn</string>
	<key>PROJECT_ID</key>
	<string>dropin-24780</string>
	<key>STORAGE_BUCKET</key>
	<string>dropin-24780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620158042977:ios:6c51988fbae710330c3b20</string>
</dict>
</plist>